---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import datas from '../data/information.json';
import '../styles/global.css';

---

<!-- <Layout>
	<Welcome />
</Layout> -->

<header>
  <h1 style={`color: ${datas.colores[1]}`}>{datas.titulo}</h1>
  <h1 class="text-red-700">adios</h1>
</header>



<!-- <h1 class="text-3xl font-bold">Mis Proyectos</h1>
<ul class="grid gap-4 mt-6">
  {datas.proyectos.map((project, i) => (
    <li class="p-4 border rounded shadow">
      <a href={`/proyecto/${project.id}`} class="text-blue-600 underline">
        {project.titulo}
      </a>
    </li>
  ))}
</ul> -->