---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import datas from '../data/information.json';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!-- <Layout>
	<Welcome />
</Layout> -->

<header>
  <h1 style={`color: ${datas.colores[1]}`}>{datas.titulo}</h1>
</header>



<!-- <h1 class="text-3xl font-bold">Mis Proyectos</h1>
<ul class="grid gap-4 mt-6">
  {datas.proyectos.map((project, i) => (
    <li class="p-4 border rounded shadow">
      <a href={`/proyecto/${project.id}`} class="text-blue-600 underline">
        {project.titulo}
      </a>
    </li>
  ))}
</ul> -->