---
import "@/styles/global.css";
import Sidebar from "@/components/Sidebar.astro";
import Main from "@/components/sidebar/Main.astro";
import InteractiveArea from "@/components/sidebar/InteractiveArea.jsx";
---

<head>
    <title>Admin Dashboard - Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="flex min-h-screen">
    <!-- <Sidebar /> -->
    <!-- <Main /> -->
    <InteractiveArea client:load/>
    </div>
</body>